
.highlight pre{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    font-size: 75%;
}

.docutils.literal{
    color: rgba(var(--var-theme-primary-dark), 1);
    padding: 1px 4px;
    margin: 0 -2px;
    border-radius: 2px;
}

a {
    color: rgba(var(--var-theme-primary-dark), 1);
}

a.reference {
    border-bottom: 1px dotted rgba(var(--var-theme-primary-dark), 1);
}

a.reference:hover {
    border-bottom: 1px solid rgba(var(--var-theme-primary-dark), 1);
}

a:hover {
    color: rgba(var(--var-theme-primary-dark), 1);
}


h1 {
    margin: 30px 0px 10px 0px !important;
}


.brython-out{
    /*text-align: center;*/
    padding: 15px;
    border: 1px solid #eee;
    margin-top: -16px;
    border-radius: 0px 0px 2px 2px;
    width: -moz-available;
    width: -webkit-fill-available;
}


.brython-out *{

    margin: 0 auto;

    /*display: inline-flex;*/

}

.body {
    max-width: unset !important;
}


img.logo{

width: 210px;

}




.ubtlauncher-response,
.ubtlauncher-request{

/*padding: 0;*/
/*margin: ;*/
/*background-color: white;*/
/*color: white;*/
margin: -15px;
border-radius: 0 0 2px 2px;
font-size: 13px;

}


.ubtlauncher-response:before {
  content: "response";
float: right;
margin-right: -20px;
color: #0086c3;
}

.ubtlauncher-request:before {
  content: "request";
    float: right;
    margin-right: -20px;
    color: #0086c3;
}



.span-ubtlauncher-response{

font-size: 13px;
color: #0086c3;
font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
/*float: right;*/
/*width: 100%;*/
/*margin-bottom: -20px;*/
/*margin-right: 20px;*/
margin-bottom: -35px;
padding-right: 10px;
text-align: right;

}